@media(max-width: 767px) {
    .center{
        padding-left: 16px;
        padding-right: 16px;
    }
    .header {
        display: flex;
        flex-flow: column;
        height: 735px;
        &__heading-big {
            padding-top: 238.69px;
            text-align: center;
        }
        &__text{
            padding-top: 32.95px;
            text-align: center;
            
        }
        &__button{
            margin-top: 32.62px;
            align-self: center;
        }
    }

    .heading-big {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
    }

    .text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
    }
.games{
    min-height: 1221px;
}

.content{
    flex-direction: column;
    align-content: center;
    &__item{
        width: 343px;
        border-radius: 16px;
    }
}

}